<div class="container">
  <header>
    <h1>Olá</h1>
    <h3>Star Wars</h3>
  </header>
  <div class="content-body">
    <aside>
      <div class="filter-categoria">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="State" aria-label="State" [formControl]="stateCtrl">
          </mat-form-field>
        </form>
        <mat-radio-group [(ngModel)]="labelPosition" (change)="click($event)">
          <mat-radio-button class="example-margin" value="people">People</mat-radio-button>
          <mat-radio-button class="example-margin" value="films">Films</mat-radio-button>
          <mat-radio-button class="example-margin" value="planets">Planets</mat-radio-button>
        </mat-radio-group>
      </div>
    </aside>
    <div class="content">

    </div>
  </div>
  <footer>
    <p>Star Wars @ 2019</p>
  </footer>
</div>
