.container{
  display: flex;
  flex-direction: column;
  background: cornflowerblue;
  height: 100%;
}

.content-body {
  display: flex;
  flex-direction: row;
  background: green;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  background: cornflowerblue;
  width: 70%;

}

aside{
  width: 30%;
  height: 100%;
  background: red;
}
.filter-categoria{
  padding: 10px;
}

footer{
  text-align: center;
  height: 20%;
}

.example-full-width {
  width: 100%;
}

.example-margin{
  margin: 2px;
}
