.container{
  position: relative;
  display: flex;
  align-items:stretch;
  background: white;
}

aside{
  background: red;
  width: 30%;
}

.content {
  background: blue;
  padding: 10px;
  width: 100%;
}

.filter-categoria{
  padding: 10px;
}

.full-width{
  width: 100%;
}
